body {
    background-color: #CEEEF2;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: left;
}

header, footer {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #7FC0C9;
  }

h1, h3, h6 {
    margin-left: 25px;
  }

h1 {
    color: blue;
}